<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Perspective --> 
	<extension
    	point="org.eclipse.ui.perspectives">
	</extension>

    <!-- VIEWS -->
    <extension
		point="org.eclipse.ui.views">
		<!-- People specific views -->
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/people.gif"
			id="org.argeo.people.workbench.rap.quickSearchView"
			name="Contacts"
			restorable="true">
		</view>
	</extension>
	
	<!-- EDITORS -->
    <extension
		point="org.eclipse.ui.editors">
		<!-- Search -->
		<editor
			id="org.argeo.people.workbench.rap.peopleSearchEntityEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/actions/search.png"
			name="Search">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.listValuesEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/actions/search.png"
			name="Search">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.searchByTagEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/actions/search.png"
			name="Search by Tag">
		</editor>
		
		<!-- Entities -->
		<editor
			id="org.argeo.people.workbench.rap.personEditor"
			name="Person editor"
			icon="theme/icons/types/person.gif"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.orgEditor"
			name="Organisation editor"
			icon="theme/icons/types/organisation.png"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.groupEditor"
			name="Group"
			icon="theme/icons/types/group.gif"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.mailingListEditor"
			name="Mailing List"
			icon="theme/icons/types/mailingList.gif"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
	</extension>
	
	<!-- COMMANDS -->
	<extension
		point="org.eclipse.ui.commands">
		<!-- Open correct editor given the node type --> 

		<!-- Person and organisation management --> 
		<command
			id="org.argeo.people.workbench.rap.editJob"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="Create or edit a job">
            <commandParameter
         		id="param.relevantNodeJcrId"
         		name="Jcr ID of the node to edit">
  	 		</commandParameter>
            <commandParameter
         		id="param.isBackward"
         		name="When editing an existing job, true if editing an org">
  	 		</commandParameter>
    	</command>
    	
		<!-- Entity References CRUD --> 
		<command
			id="org.argeo.people.workbench.rap.removeEntityReference"
        	defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      	    name="removeEntityReference">
            <commandParameter
         		id="param.toRemoveJcrId"
         		name="Jcr ID of the node to remove">
  	 		</commandParameter>
    	</command>
    	<!-- Utility command to simply open an URL --> 
    	<command
			defaultHandler="org.argeo.people.workbench.rap.commands.OpenUrl"
			id="org.argeo.people.workbench.rap.openUrl"
			name="Open an URL in the end user browser">
			<commandParameter
     			id="param.urlValue"
     			name="The url">
 			</commandParameter>
			<commandParameter
     			id="param.urlType"
     			name="The type of the url">
 			</commandParameter>
  		</command>
	</extension>		
	
	<!-- Menus -->
	<extension
		point="org.eclipse.ui.menus">
					
		<!-- People specific entity creation --> 
		<menuContribution locationURI="menu:org.argeo.connect.ui.addEntityToolbar">
			<command
				commandId="org.argeo.connect.ui.createEntity"
				icon="theme/icons/types/person.gif"
				label="Person">
				<parameter
         		name="param.targetNodeType"
         		value="people:person" />
			</command>	
			<command
				commandId="org.argeo.connect.ui.createEntity"
				icon="theme/icons/types/organisation.png"
				label="Organisation">
				<parameter
         		name="param.targetNodeType"
         		value="people:org" />
			</command>	
			<!--<command
				commandId="org.argeo.people.workbench.rap.createEntity"
				icon="icons/mailingList.gif"
				label="Mailing List">
				<parameter
         		name="param.targetNodeType"
         		value="people:mailingList" />
			</command>-->
		</menuContribution>
		
		<!-- People specific search editors --> 
		<menuContribution locationURI="menu:org.argeo.connect.ui.openSearchToolbar">
			<command
				commandId="org.argeo.connect.ui.openSearchEntityEditor"
				icon="theme/icons/types/person.gif"
				label="Persons">
				<parameter name="param.nodeType" value="people:person" />
				<parameter name="param.editorName" value="Persons" />
			</command>	
			<command
				commandId="org.argeo.connect.ui.openSearchEntityEditor"
				icon="theme/icons/types/organisation.png"
				label="Organisations">
				<parameter name="param.nodeType" value="people:org" />
				<parameter name="param.editorName" value="Organisations" />
			</command>	
			<command
				commandId="org.argeo.connect.ui.openSearchEntityEditor"
				icon="theme/icons/types/mailingList.gif"
				label="Mailing Lists">
				<parameter name="param.nodeType" value="people:mailingList" />
				<parameter name="param.editorName" value="Mailing Lists" />
			</command>	
		</menuContribution>		
	</extension>
	
	<extension
		point="org.eclipse.ui.activities">
		<!-- People specific activities --> 
		<activity
              description="Generic people app"
              id="org.argeo.people.workbench.rap.peopleAppActivity"
              name="People App Activity">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=org.argeo.people.member,ou=roles,ou=node" />
		      </iterate>
		    </with>
		 </enabledWhen>
        </activity>
        
		<!-- Business admin activities --> 
		<activity
              description="Business admin activities"
              id="org.argeo.people.workbench.rap.businessAdminActivity"
              name="People Business Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=org.argeo.people.admin,ou=roles,ou=node" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>

        
		<!-- Technical admin activities --> 
		<activity
              description="Only for admins"
              id="org.argeo.people.workbench.rap.adminActivity"
              name="People Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=org.argeo.people.admin,ou=roles,ou=node" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
     </extension>
</plugin>
