<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Perspective --> 
	<extension
    	point="org.eclipse.ui.perspectives">
	</extension>

    <!-- VIEWS -->
    <extension
		point="org.eclipse.ui.views">
		<!-- People specific views -->
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.people.workbench.rap.quickSearchView"
			name="Contacts"
			restorable="false">
		</view>
	</extension>
	
	<!-- EDITORS -->
    <extension
		point="org.eclipse.ui.editors">
		<!-- Search -->
		<editor
			id="org.argeo.people.workbench.rap.peopleSearchEntityEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
     		icon="platform:/plugin/org.argeo.connect.ui/icons/actions/search.png"
			name="Search">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.listValuesEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
     		icon="platform:/plugin/org.argeo.connect.ui/icons/actions/search.png"
			name="Search">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.searchByTagEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
      		icon="platform:/plugin/org.argeo.connect.ui/icons/actions/search.png"
			name="Search by Tag">
		</editor>
		
		<!-- Entities -->
		<editor
        class="org.argeo.eclipse.spring.SpringExtensionFactory"
        icon="platform:/plugin/org.argeo.connect.ui/icons/types/person.png"
        id="org.argeo.people.workbench.rap.personEditor"
        name="Person editor">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.orgEditor"
			name="Organisation editor"
        	icon="platform:/plugin/org.argeo.connect.ui/icons/types/organisation.png"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.groupEditor"
			name="Group"
       		icon="platform:/plugin/org.argeo.connect.ui/icons/types/group.png"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<editor
			id="org.argeo.people.workbench.rap.mailingListEditor"
	       	icon="platform:/plugin/org.argeo.connect.ui/icons/types/mailingList.png"
			name="Mailing List"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
	</extension>
	
	<!-- COMMANDS -->
	<extension
		point="org.eclipse.ui.commands">
		<!-- Open correct editor given the node type --> 

		<!-- Person and organisation management --> 
		<command
			id="org.argeo.people.workbench.rap.editJob"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="Create or edit a job">
            <commandParameter
         		id="param.relevantNodeJcrId"
         		name="Jcr ID of the node to edit">
  	 		</commandParameter>
            <commandParameter
         		id="param.isBackward"
         		name="When editing an existing job, true if editing an org">
  	 		</commandParameter>
    	</command>
    	
		<!-- Entity References CRUD --> 
		<command
			id="org.argeo.people.workbench.rap.removeEntityReference"
        	defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      	    name="removeEntityReference">
            <commandParameter
         		id="param.toRemoveJcrId"
         		name="Jcr ID of the node to remove">
  	 		</commandParameter>
    	</command>
    	<!-- Utility command to simply open an URL --> 
    	<command
			defaultHandler="org.argeo.people.workbench.rap.commands.OpenUrl"
			id="org.argeo.people.workbench.rap.openUrl"
			name="Open an URL in the end user browser">
			<commandParameter
     			id="param.urlValue"
     			name="The url">
 			</commandParameter>
			<commandParameter
     			id="param.urlType"
     			name="The type of the url">
 			</commandParameter>
  		</command>
	</extension>		
	
	<!-- Menus -->
	<extension
		point="org.eclipse.ui.menus">
					
	</extension>
	
	<extension
		point="org.eclipse.ui.activities">
		<!-- People specific activities --> 
		<activity
              description="Generic people app"
              id="org.argeo.people.workbench.rap.peopleAppActivity"
              name="People App Activity">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=org.argeo.people.member,ou=roles,ou=node" />
		      </iterate>
		    </with>
		 </enabledWhen>
        </activity>
        
		<!-- Business admin activities --> 
		<activity
              description="Business admin activities"
              id="org.argeo.people.workbench.rap.businessAdminActivity"
              name="People Business Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=org.argeo.people.admin,ou=roles,ou=node" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>

        
		<!-- Technical admin activities --> 
		<activity
              description="Only for admins"
              id="org.argeo.people.workbench.rap.adminActivity"
              name="People Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="cn=org.argeo.people.admin,ou=roles,ou=node" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
     </extension>
</plugin>
