<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Entry point for the RAP application --> 
	<extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
      		class="org.argeo.connect.demo.rap.GrEntryPoint"
            path="/connect-demo"
            id="org.argeo.connect.demo.gr.client.rap.entrypoint">
      </entrypoint>
   </extension>
   
   	<!-- Register the splash picture --> 
    <extension point="org.eclipse.equinox.http.registry.resources">
        <resource
        	alias="/GR_Intro_logo.gif"
        	base-name="branding/GR_Intro_logo.gif" />
	</extension>

	<!-- Branding for the default GR servlet. For further info, see : 
	 http://help.eclipse.org/helios/index.jsp?topic=/org.eclipse.rap.help/help/html/intro.html
and http://www.eclipse.org/forums/index.php?t=tree&th=43322&#page_top
	-->
	<extension
         point="org.eclipse.rap.ui.branding">
    	<branding
			id="org.argeo.connect.demo.rap.branding"
            servletName="connect-demo"
            defaultEntrypointId="org.argeo.connect.demo.gr.client.rap.entrypoint"
            title="Argeo Connect Demo"
            favicon="branding/gr.gif"
            body="branding/default.htm">
      	</branding>
   	</extension>
</plugin>