<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.connect.streams.ui.RssPerspective"
            icon="icons/rss.png"
            id="org.argeo.connect.streams.ui.rssPerspective"
            name="Streams">
      </perspective>
	</extension>
   	<extension
         point="org.eclipse.ui.views">
      <!-- <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.connect.streams.ui.feedView"
            name="Feed"
            restorable="true">
      </view> --> 
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            icon="icons/rss.png"
            id="org.argeo.connect.streams.ui.rssSearchView"
            name="Connect Streams"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
     <editor
           class="org.argeo.eclipse.spring.SpringExtensionFactory"
           default="false"
           icon="icons/rss.png"
           id="org.argeo.connect.streams.ui.channelEditor"
           name="New...">
      </editor>
   <!--    <editor
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            default="false"
            id="org.argeo.connect.streams.ui.linkEditor"
            name="Link">
      </editor> --> 
   </extension>
   	<!-- COMMANDS -->	
	<!-- Check in and out -->
	<extension
         point="org.eclipse.ui.commands">
		<command
      		id="org.argeo.connect.people.ui.checkOutItem"
            name="checkOutItem">
    	</command>
    	<command
      		id="org.argeo.connect.people.ui.cancelAndCheckInItem"
            name="cancelAndcheckInItem">
    	</command>
   	</extension>
	<extension
         point="org.eclipse.ui.menus">
	</extension>
		<!-- SPECIFIC MANAGEMENT OF THE CHECK OUT ITEM -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.argeo.connect.people.ui.commands.CheckOutItem"
			commandId="org.argeo.connect.people.ui.checkOutItem">
			<activeWhen>
					<with
						variable="org.argeo.connect.people.ui.checkOutState">
						<equals value="notCheckedOut" />
					</with>
    			
			</activeWhen>
		</handler>
		<handler
			class="org.argeo.connect.people.ui.commands.CancelAndCheckInItem"
			commandId="org.argeo.connect.people.ui.cancelAndCheckInItem">
			<activeWhen>
					<with
						variable="org.argeo.connect.people.ui.checkOutState">
						<equals value="checkedOut" />
					</with>
			</activeWhen>
		</handler>
	</extension>

	<!-- Workbench listeners --> 
	<extension point="org.eclipse.ui.startup">
   		<startup class="org.argeo.connect.people.ui.listeners.PartStateChanged"/>
	</extension>

	<!-- Services -->
	<extension
      	point="org.eclipse.ui.services">
	   	<sourceProvider
	        provider="org.argeo.connect.people.ui.utils.CheckoutSourceProvider">
	     	<variable
	            name="org.argeo.connect.people.ui.checkOutState"
	            priorityLevel="workbench">
	      	</variable>
	   	</sourceProvider>
	</extension>
		<!-- Entry point for the RAP application --> 
	<extension
		point="org.eclipse.rap.ui.entrypoint">
		<!-- Entry point for rap 2.0 and eclipse 4.2 with rap tooling --> 
		<entrypoint
			id="org.argeo.connect.streams.rap.entrypoint"
			class="org.argeo.connect.streams.ui.rap.RssSecureEntryPoint"
			path="/streams"
			brandingId="org.argeo.connect.streams.rap.defaultBranding">
		</entrypoint>
	</extension>
 
 	<!-- BRANDING --> 
	<extension
		point="org.eclipse.rap.ui.branding">
		<branding
			id="org.argeo.connect.streams.rap.defaultBranding"
			themeId="org.argeo.connect.streams.rap.defaultBaseTheme"
			title="Connect Streams"
			favicon="icons/rss.png">
		</branding>
	</extension>
	
	<!-- LOCAL THEMES --> 
	<extension
		point="org.eclipse.rap.ui.themes">
		<theme
			id="org.argeo.connect.streams.rap.defaultBaseTheme"
			name="RAP Business Theme"
			file="theme/defaultBase.css" />
		<themeContribution
			themeId="org.argeo.connect.streams.rap.defaultBaseTheme"
			file="theme/defaultExt.css" />
	</extension> 
	
</plugin>
