<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.connect.ui.crisis.TrackingPerspective"
            id="org.argeo.connect.streams.ui.trackingPerspective"
            name="Tracking">
      </perspective>
	</extension>
   	<extension
         point="org.eclipse.ui.views">
      <!-- <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.connect.streams.ui.feedView"
            name="Feed"
            restorable="true">
      </view> --> 
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.connect.streams.ui.rssSearchView"
            name="Rss Search"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   <!--    <editor
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            default="false"
            id="org.argeo.connect.streams.ui.linkEditor"
            name="Link">
      </editor> --> 
   </extension>
   	<extension
         point="org.eclipse.ui.commands">		
    </extension>
	<extension
         point="org.eclipse.ui.menus">
	</extension>
</plugin>
