<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.equinox.http.registry.resources">
    	<!-- OpenLayers 2.12 -->
        <resource alias="/OpenLayers/OpenLayers.js"	base-name="OpenLayers/OpenLayers.js" />
		
		<!-- Images -->
		<resource alias="/OpenLayers/img/blank.gif"	base-name="OpenLayers/img/blank.gif" />
        <resource alias="/OpenLayers/img/cloud-popup-relative.png"	base-name="OpenLayers/img/cloud-popup-relative.png" />
        <resource alias="/OpenLayers/img/drag-rectangle-off.png"	base-name="OpenLayers/img/drag-rectangle-off.png" />
        <resource alias="/OpenLayers/img/drag-rectangle-on.png"	base-name="OpenLayers/img/drag-rectangle-on.png" />
        <resource alias="/OpenLayers/img/east-mini.png"	base-name="OpenLayers/img/east-mini.png" />
        <resource alias="/OpenLayers/img/layer-switcher-maximize.png"	base-name="OpenLayers/img/layer-switcher-maximize.png" />
        <resource alias="/OpenLayers/img/layer-switcher-minimize.png"	base-name="OpenLayers/img/layer-switcher-minimize.png" />
        <resource alias="/OpenLayers/img/marker-blue.png"	base-name="OpenLayers/img/marker-blue.png" />
        <resource alias="/OpenLayers/img/marker-gold.png"	base-name="OpenLayers/img/marker-gold.png" />
        <resource alias="/OpenLayers/img/marker-green.png"	base-name="OpenLayers/img/marker-green.png" />
        <resource alias="/OpenLayers/img/marker.png"	base-name="OpenLayers/img/marker.png" />
        <resource alias="/OpenLayers/img/measuring-stick-off.png"	base-name="OpenLayers/img/measuring-stick-off.png" />
        <resource alias="/OpenLayers/img/measuring-stick-on.png"	base-name="OpenLayers/img/measuring-stick-on.png" />
        <resource alias="/OpenLayers/img/north-mini.png"	base-name="OpenLayers/img/north-mini.png" />
        <resource alias="/OpenLayers/img/panning-hand-off.png"	base-name="OpenLayers/img/panning-hand-off.png" />
        <resource alias="/OpenLayers/img/panning-hand-on.png"	base-name="OpenLayers/img/panning-hand-on.png" />
        <resource alias="/OpenLayers/img/slider.png"	base-name="OpenLayers/img/slider.png" />
        <resource alias="/OpenLayers/img/south-mini.png"	base-name="OpenLayers/img/south-mini.png" />
        <resource alias="/OpenLayers/img/west-mini.png"	base-name="OpenLayers/img/west-mini.png" />
        <resource alias="/OpenLayers/img/zoombar.png"	base-name="OpenLayers/img/zoombar.png" />
        <resource alias="/OpenLayers/img/zoom-minus-mini.png"	base-name="OpenLayers/img/zoom-minus-mini.png" />
        <resource alias="/OpenLayers/img/zoom-plus-mini.png"	base-name="OpenLayers/img/zoom-plus-mini.png" />
        <resource alias="/OpenLayers/img/zoom-world-mini.png"	base-name="OpenLayers/img/zoom-world-mini.png" />
        
        <!-- Theme -->
        <resource alias="/OpenLayers/theme/default/style.css"	base-name="OpenLayers/theme/default/style.css" />
        <resource alias="/OpenLayers/theme/default/style.tidy.css"	base-name="OpenLayers/theme/default/style.tidy.css" />
	</extension>
</plugin>
