<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="classpath:org/argeo/connect/people/technical-catalogs.xml" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<value>classpath:org/argeo/connect/people/imports/jackrabbit-test.properties
			</value>
		</property>
	</bean>

	<!-- WARNING: in order to be able to define different version of the same 
		repository in only one application context file, jcr related beans must be 
		lazy loaded. -->

	<!-- bean used to test model -->
	<bean id="jcrRepository" class="org.argeo.jackrabbit.JackrabbitContainer"
		lazy-init="true" init-method="init" destroy-method="destroy">
		<property name="homeDirectory" value="target/jackrabbit-${user.name}" />
		<property name="configuration" value="${people.jackrabbit.repo.test.configuration}" />
		<property name="inMemory" value="${people.jackrabbit.repo.test.inMemory}" />
		<property name="forceCndImport" value="${argeo.people.forceCndImport}" />
		<property name="variables"
			value="classpath:org/argeo/connect/people/imports/jackrabbit-test.properties" />
		<property name="namespaces" ref="peopleNamespaces" />
		<property name="cndFiles">
			<list>
				<value>/org/argeo/jcr/argeo.cnd</value>
				<value>/org/argeo/connect/people/people.cnd</value>
			</list>
		</property>
		<property name="adminCredentials">
			<bean class="javax.jcr.SimpleCredentials">
				<constructor-arg value="admin" />
				<constructor-arg value="admin" />
			</bean>
		</property>
	</bean>
	<bean id="jcrSession" class="org.argeo.jcr.spring.ThreadBoundSession"
		lazy-init="true">
		<property name="repository" ref="jcrRepository" />
		<property name="forceDefaultCredentials" value="true" />
	</bean>
</beans>