<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Perspective --> 
	<extension
    	point="org.eclipse.ui.perspectives">
		<!-- RATHER DEFINE THE PERSPECTIVE DIRECTLY IN THE APPS. -->  
		
		<!-- People specific business admin perspective -->  
		<!-- <perspective
			class="org.argeo.connect.people.rap.BusinessAdminPerspective"
			icon="icons/people.gif"
            id="org.argeo.connect.people.rap.businessAdminPerspective"
            name="User management">
		</perspective>
      -->
		<!-- Draft perspective for people standalone application --> 
		
		<perspective
			class="org.argeo.connect.people.rap.PeoplePerspective"
			icon="icons/people.gif"
            id="org.argeo.connect.people.rap.peoplePerspective"
            name="People">
		</perspective> 	
	</extension>

	<!-- Enrich existing perspectives to add people specific UI Parts -->
	<!-- Does not work in RAP: it tries to instantiate this view before the default ones and then the relative placement fails. -->
	<!-- <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.argeo.eclipse.ui.workbench.osgiPerspective">
			<view 
				id="org.argeo.connect.people.rap.peopleDefaultView" 
				visible="true"
				relationship="left" 
             	relative="org.eclipse.ui.editorss"/> 
          </perspectiveExtension>
	</extension> -->

    <!-- VIEWS -->
    <extension
		point="org.eclipse.ui.views">
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/people.gif"
			id="org.argeo.connect.people.rap.peopleDefaultView"
			name="Search"
			restorable="true">
		</view>
		
		<!-- Users and tasks Management -->
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/group.gif"
			id="org.argeo.connect.people.rap.userGroupsView"
			name="Groups"
			restorable="true">
		</view>
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/user.gif"
			id="org.argeo.connect.people.rap.adminUsersView"
			name="Users"
			restorable="true">
		</view>
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/activities/todo.gif"
			id="org.argeo.connect.people.rap.myTasksView"
			name="My tasks"
			restorable="true">
		</view>
	</extension>
	
	<!-- EDITORS -->
    <extension
		point="org.eclipse.ui.editors">
		
		<!-- Search -->
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/search.png"
			id="org.argeo.connect.people.rap.defaultSearchEntityEditor"
			name="Search">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/search.png"
			id="org.argeo.connect.people.rap.listValuesEditor"
			name="Search">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/search.png"
			id="org.argeo.connect.people.rap.searchByTagEditor"
			name="Search by Tag">
		</editor>
		
		<!-- Entities -->
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/person.gif"
			id="org.argeo.connect.people.rap.personEditor"
			name="Person editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/company.png"
			id="org.argeo.connect.people.rap.orgEditor"
			name="Organisation editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/group.gif"
			id="org.argeo.connect.people.rap.groupEditor"
			name="Group">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/mailingList.gif"
			id="org.argeo.connect.people.rap.mailingListEditor"
			name="Mailing List">
		</editor>
		
		<!-- Users and groups -->  
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/group.gif"
			id="org.argeo.connect.people.rap.userGroupEditor"
			name="User Group">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/person.gif"
			id="org.argeo.connect.people.rap.userEditor"
			name="User Management">
		</editor>
		
		<!-- Activities -->
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/activities/todo.gif"
			id="org.argeo.connect.people.rap.activityEditor"
			name="Activity editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/activities/todo.gif"
			id="org.argeo.connect.people.rap.taskEditor"
			name="Task editor">
		</editor>
	</extension>
	
	<!-- COMMANDS -->
	<extension
		point="org.eclipse.ui.commands">
		<!-- Open correct editor given the node type --> 
    	<command
			id="org.argeo.connect.people.rap.openEntityEditor"
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			name="Open Editor">
			<commandParameter
         		id="param.jcrId"
         		name="The jcr identifier">
         	</commandParameter>
			<commandParameter
				id="param.cTabId"
				name="The id of the tab to open if such a tab exists">
			</commandParameter>
			<commandParameter
				id="param.openForEdit"
				name="A flag to try to open the corresponding entity for edition">
			</commandParameter>
			<!-- Still used to open editor with the linked list (employees...) -->
			<commandParameter
				id="param.entityUid"
				name="The Model Specific Entity Uid">
			</commandParameter>
		</command>    
		
		<!-- Search entities by type -->
		<command
			id="org.argeo.connect.people.rap.openSearchEntityEditor"
			defaultHandler="org.argeo.connect.people.rap.commands.OpenSearchEntityEditor"
			name="Open Search Entity Editor">
			<commandParameter
				id="param.nodeType"
				name="Node Type">
			</commandParameter>
			<commandParameter
				id="param.editorName"
				name="Editor Name">
			</commandParameter>
			<commandParameter
				id="param.basePath"
				name="Parent base path">
			</commandParameter>
		</command>

		<!-- Person and organisation management --> 
		<command
			id="org.argeo.connect.people.rap.editJob"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="Create or edit a job">
            <commandParameter
         		id="param.relevantNodeJcrId"
         		name="Jcr ID of the node to edit">
  	 		</commandParameter>
            <commandParameter
         		id="param.isBackward"
         		name="When editing an existing job, true if editing an org">
  	 		</commandParameter>
    	</command>
		
		
		<!-- Users and Groups Management --> 
		<command
      		id="org.argeo.connect.people.rap.createPeopleUser"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="New User Group">
    	</command>
		<command
      		id="org.argeo.connect.people.rap.createUserGroup"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="New User Group">
    	</command>
		<command
      		id="org.argeo.connect.people.rap.openPeopleUserEditor"
            defaultHandler="org.argeo.connect.people.rap.commands.OpenPeopleUserEditor"
      		name="Open user editor">
            <commandParameter
         		id="param.username"
         		name="the username">
  	 		</commandParameter>
    	</command>
    	
    	<!-- Activities and tasks management --> 
    	<command
      		id="org.argeo.connect.people.rap.createSimpleTask"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="Create simple task">
        </command>
    	
    	<!-- Add global life cycle on Editors  -->
		<!-- Note: corresponding handler could also be defined below in the startup part -->
		<command
      		defaultHandler="org.argeo.connect.people.rap.commands.ChangeEditingState"
			id="org.argeo.connect.people.rap.changeEditingState"
            name="changeEditingState">
			<commandParameter
         		id="param.newEditingState"
         		name="The new global editing state">
  	 		</commandParameter>
  	 		<commandParameter
         		id="param.priorAction"
         		name="checkout, save or cancel">
  	 		</commandParameter>
    	</command>
    	
    	<!-- Entity CRUD --> 
		<command
			id="org.argeo.connect.people.rap.deleteEntity"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="deleteEntity">
            <commandParameter
         		id="param.toRemoveJcrId"
         		name="Jcr ID of the node to remove">
  	 		</commandParameter>
            <commandParameter
         		id="param.removeParent"
         		name="Indicates whether parent node should also be deleted">
  	 		</commandParameter>
    	</command>
    
		<!-- Entity References CRUD --> 
		<command
			id="org.argeo.connect.people.rap.removeEntityReference"
        	defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      	    name="removeEntityReference">
            <!-- <commandParameter
         		id="param.versionableParentJcrId"
         		name="Jcr ID of the nearest versionable ancestor">
  	 		</commandParameter> -->
            <commandParameter
         		id="param.toRemoveJcrId"
         		name="Jcr ID of the node to remove">
  	 		</commandParameter>
    	</command>
    	<!-- Utility command to simply open an URL --> 
    	<command
			defaultHandler="org.argeo.connect.people.rap.commands.OpenUrl"
			id="org.argeo.connect.people.rap.openUrl"
			name="Open an URL in the end user browser">
			<commandParameter
     			id="param.urlValue"
     			name="The url">
 			</commandParameter>
			<commandParameter
     			id="param.urlType"
     			name="The type of the url">
 			</commandParameter>
  		</command>

  		<!-- Miscelleanous -->
  		<command
			id="org.argeo.connect.people.rap.forceRefresh"
			defaultHandler="org.argeo.connect.people.rap.commands.ForceRefresh"
			name="Force refresh of the current active part if such an action is possible">
			<commandParameter
					id="param.viewId"
					name="optionnaly, the id of the view to refresh">
 			</commandParameter>
  		</command>

  		<!-- Utility to provide sub menues when we don't want to define a default command for this menu -->
		<command
			id="org.argeo.connect.people.rap.doNothing"
			defaultHandler="org.argeo.connect.people.rap.commands.DoNothing"
			name="Open menu">
		</command>    
	</extension>		
	
	<!-- Menus -->
	<extension
		point="org.eclipse.ui.menus">
		<!-- Generic commands provided by the people app --> 
		<menuContribution
			locationURI="toolbar:org.argeo.security.ui.rap.userToolbar?before=org.eclipse.ui.file.save"> 
			<!-- Force resfresh if possible --> 
			<command
				commandId="org.argeo.connect.people.rap.forceRefresh"
				icon="icons/refresh.png"
				label="Force refresh of the current active part"
				style="push"
				tooltip="Force refresh of the current active part">
				<visibleWhen>
					<with variable="activePart">
						<instanceof value="org.argeo.connect.people.rap.utils.Refreshable" />
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
		
		<menuContribution
			locationURI="toolbar:org.argeo.security.ui.rap.userToolbar?after=org.eclipse.ui.file.saveAll"> 
			<!-- Check in and out management --> 
 			<command
				commandId="org.argeo.connect.people.rap.changeEditingState"
				icon="icons/checkout.gif"
				label="Check Out"
				style="push"
				tooltip="Check Out item for edit">
				<visibleWhen>
					<!-- <with variable="activePart">
							<instanceof value="org.argeo.connect.people.rap.editors.utils.IVersionedItemEditor" />
					</with> --> 
					<and>
						<with variable="activePart">
							<instanceof value="org.argeo.cms.CmsEditable" />
						</with>
						<with variable="org.argeo.connect.people.rap.editingState">
							<equals value="notEditing" />
						</with>
						<!-- FIXME : never true, the role condition does not work -->
						<!-- <with variable="roles">
			      			<iterate ifEmpty="false" operator="or">
			        			<equals value="ROLE_BUSINESS_ADMIN" />
			        			<equals value="ROLE_REGISTERED_MEMBER" />
			      			</iterate>
			    		</with> -->
			    	</and>
				</visibleWhen>
				<parameter name="param.newEditingState" value="editing" />
  	 			<parameter name="param.priorAction" value="checkout" />
			</command>
			
			<!-- Add global life cycle on Editors  -->
			<command
				commandId="org.argeo.connect.people.rap.changeEditingState"
				icon="icons/cancelEdit.gif"
				label="Cancel edit"
				style="push"
				tooltip="Abandon changes and check back in">
				<visibleWhen>
					<and>
						<with variable="activePart">
							<instanceof value="org.argeo.cms.CmsEditable" />
						</with>
						<with variable="org.argeo.connect.people.rap.editingState">
							<equals value="editing" />
						</with>
						<!-- <with variable="roles">
			      			<iterate ifEmpty="false" operator="or">
			        			<equals value="ROLE_BUSINESS_ADMIN" />
			        			<equals value="ROLE_REGISTERED_MEMBER" />
			      			</iterate>
			    		</with> -->
			    	</and>
				</visibleWhen>
				<parameter name="param.newEditingState" value="notEditing" />
  	 			<parameter name="param.priorAction" value="cancel" />
    		</command>
		</menuContribution>
		
		<!-- PeopleUserAdminView toolbar menu --> 
		<menuContribution
            locationURI="toolbar:org.argeo.connect.people.rap.adminUsersView">
			<command
                  commandId="org.argeo.security.ui.admin.refreshUsersList"
                  icon="icons/refresh.png"
                  label="Refresh list"
                  tooltip="Force the full refresh of the user list">
            </command>
            <command
                  commandId="org.argeo.security.ui.admin.deleteUser"
                  icon="icons/remove.gif"
                  label="Delete User"
                  tooltip="Delete selected users">
            </command>
            <command
                  commandId="org.argeo.connect.people.rap.createPeopleUser"
                  icon="icons/newGroup.gif"
                  label="Add User"
                  tooltip="Add new user">
            </command>
            <command
                  commandId="org.argeo.security.ui.admin.userBatchUpdate"
                  icon="icons/batch.gif"
                  label="Update users"
                  tooltip="Perform maintenance activities on a list of chosen users">
            </command>
        </menuContribution>
		
		<!-- UserGroupView tool bar menu --> 
		<menuContribution
            locationURI="toolbar:org.argeo.connect.people.rap.userGroupsView">
            <command
                  commandId="org.argeo.connect.people.rap.createUserGroup"
                  icon="icons/newGroup.gif"
                  label="Add Group"
                  tooltip="Add a new user group">
            </command>
             <command
				commandId="org.argeo.connect.people.rap.forceRefresh"
                icon="icons/refresh.png"
				label="Refresh"
				tooltip="User group list refresh">
				<parameter
					name="param.viewId"
					value="org.argeo.connect.people.rap.userGroupsView" />
            </command>
        </menuContribution>

		<!-- MyTasksView tool bar menu --> 
		<menuContribution
            locationURI="toolbar:org.argeo.connect.people.rap.myTasksView">
            <command
				commandId="org.argeo.connect.people.rap.createSimpleTask"
				icon="icons/newGroup.gif"
				label="Task">
			</command>	
            <command
				commandId="org.argeo.connect.people.rap.forceRefresh"
                icon="icons/refresh.png"
				label="Refresh"
				tooltip="Force task list refresh">
				<parameter
					name="param.viewId"
					value="org.argeo.connect.people.rap.myTasksView" />
            </command>
        </menuContribution>
	</extension>
	
	<!-- SPECIFIC MANAGEMENT OF THE CHECK OUT ITEM -->
<!--	<extension

		point="org.eclipse.ui.handlers">
		<handler
			class="org.argeo.connect.people.rap.commands.CancelAndCheckInItem"
			commandId="org.argeo.connect.people.rap.cancelAndCheckInItem">
			<activeWhen>
				<and> 
					<with
						variable="org.argeo.connect.people.rap.checkOutState">
						<equals value="checkedOut" />
					</with>
					<with variable="activePart">
						<instanceof value="org.argeo.connect.people.rap.editors.utils.IVersionedItemEditor" />
					</with>
				</and>
			</activeWhen>
		</handler>
		<handler
			class="org.argeo.connect.people.rap.commands.ChangeEditingState"
			commandId="org.argeo.connect.people.rap.changeEditingState">
		</handler>
	</extension>
-->
	<!-- Workbench listeners --> 
	<extension point="org.eclipse.ui.startup">
   		<startup class="org.argeo.connect.people.rap.listeners.PartStateChanged"/>
	</extension>

	<!-- Services -->
	<extension
      	point="org.eclipse.ui.services">
	   	<sourceProvider
	        provider="org.argeo.connect.people.rap.utils.EditionSourceProvider">
	     	<variable
	            name="org.argeo.connect.people.rap.editingState"
	            priorityLevel="workbench">
	      	</variable>
	   	</sourceProvider>
	</extension>

	<extension
		point="org.eclipse.ui.activities">
		<!-- Business admin activities --> 
		<activity
              description="Business admin activities"
              id="org.argeo.connect.people.rap.businessAdminActivity"
              name="People Business Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="ROLE_BUSINESS_ADMIN" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <activityPatternBinding
              activityId="org.argeo.connect.people.rap.businessAdminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.connect.people.rap/org.argeo.connect.people.rap.businessAdminPerspective">
        </activityPatternBinding>
        
		<!-- Technical admin activities --> 
		<activity
              description="Only for admins"
              id="org.argeo.connect.people.rap.adminActivity"
              name="People Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="ROLE_ADMIN" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <!-- FIXME: we hide for the time being the people stand alone perspective 
        to all people that are not in role technical admin --> 
        <!--<activityPatternBinding
              activityId="org.argeo.connect.people.rap.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.connect.people.rap/org.argeo.connect.people.rap.peoplePerspective">
        </activityPatternBinding> -->
     </extension>
</plugin>
