<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.connect.demo.gr.ui.ConsultGrPerspective"
            icon="icons/gr.gif"
            id="org.argeo.connect.demo.gr.ui.consultGR"
            name="Connect Demo GR">
      </perspective>
   </extension>
    <!-- Views -->
    <extension
         point="org.eclipse.ui.views">
 	  	<view
           class="org.argeo.eclipse.spring.SpringExtensionFactory"
           icon="icons/gr.gif"
           id="org.argeo.connect.demo.gr.ui.networkBrowserView"
           name="%networkBrowserView_title"
           restorable="true">
   		</view>
 	  	<view
           class="org.argeo.eclipse.spring.SpringExtensionFactory"
           icon="icons/checked.gif"
           id="org.argeo.connect.demo.gr.ui.networkListView"
           name="%networkListView_title"
           restorable="true">
   		</view>
	</extension>
	<!-- EDITORS --> 
	<!-- CAUTION : icon attribute is compulsory for an editor.--> 
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.connect.demo.gr.ui.networkEditor"
			name="%networkEditor_title"
			icon="icons/network.png"
			default="false">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.connect.demo.gr.ui.siteEditor"
			name="Site Editor"
			icon="icons/siteEditor.gif"
			default="false">
		</editor>
	</extension>
	
	<!-- Commands -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.demo.gr.ui.openNetworkEditor"
			name="Open Network Editor">
			<commandParameter
				id="org.argeo.connect.demo.gr.ui.networkUid"
				name="Network UID">
  	 		</commandParameter>
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.demo.gr.ui.generateSiteReport"
			name="Generate Site Report">
			<commandParameter
				id="org.argeo.connect.demo.gr.ui.siteUid"
				name="Site UID">
  	 		</commandParameter>
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.demo.gr.ui.createNetwork"
			name="Create new network">
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.demo.gr.ui.refreshNetworkBrowserView"
			name="Refresh network list">
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.demo.gr.ui.openSiteEditor"
			name="Open Site Editor">
				<commandParameter
					id="org.argeo.connect.demo.gr.ui.siteUid"
					name="Site UID">
  	 			</commandParameter>
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.demo.gr.ui.createSite"
			name="Create new site">
			<commandParameter
				id="org.argeo.connect.demo.gr.ui.networkUid"
				name="Network UID">
  	 		</commandParameter>
		</command>    
	</extension>	
	<!-- Menus -->
	<extension
		point="org.eclipse.ui.menus">
		<!-- Popup Menu for NetworkBrowserView-->
		<!-- View Specific Menus --> 
		<menuContribution
        	locationURI="toolbar:org.argeo.connect.demo.gr.ui.networkBrowserView">
            <command
            	commandId="org.argeo.connect.demo.gr.ui.refreshNetworkBrowserView"
                icon="icons/refresh.png"
                label="Refresh"
                tooltip="Refresh networks view">
            </command>
        </menuContribution>
	
		<!-- WARNING : when a command is not found it is not display without warning or error -->
		<menuContribution
			locationURI="popup:org.argeo.connect.demo.gr.ui.networkBrowserView">			              
			<!--<command
				commandId="org.argeo.connect.demo.gr.ui.createNetwork"
				icon="icons/refresh.png"
				style="push">
			</command>--> 
			<command
				commandId="org.argeo.jcr.ui.explorer.refresh"
				icon="icons/refresh.png"
				style="push">
			</command>
		</menuContribution>
	</extension>
	<!--
    <extension point="org.eclipse.equinox.http.registry.resources">
        <resource
        	alias="/monitored.gif"
        	base-name="icons/monitored.gif" />
       <resource
        	alias="/visited.gif"
        	base-name="icons/visited.gif" />
       <resource
        	alias="/registered.gif"
        	base-name="icons/registered.gif" />
	</extension>
	-->
  <extension
           point="org.eclipse.ui.activities">
        <activity
              description="Only for admins"
              id="org.argeo.connect.demo.gr.ui.adminActivity"
              name="Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="ROLE_ADMIN" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <activityPatternBinding
              activityId="org.argeo.security.ui.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.connect.demo.gr.ui/org.argeo.connect.demo.gr.ui.networkListView">
        </activityPatternBinding>
     </extension>
</plugin>
