<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Perspective --> 
	<extension
    	point="org.eclipse.ui.perspectives">
		<!-- People specific business admin perspective -->  
		<perspective
			class="org.argeo.connect.people.ui.BusinessAdminPerspective"
			icon="icons/people.gif"
            id="org.argeo.connect.people.ui.businessAdminPerspective"
            name="User management">
		</perspective>
      
		<!-- Draft perspective for people standalone application --> 
		
		<perspective
			class="org.argeo.connect.people.ui.PeoplePerspective"
			icon="icons/people.gif"
            id="org.argeo.connect.people.ui.peoplePerspective"
            name="People">
		</perspective>
	</extension>

    <!-- VIEWS -->
    <extension
		point="org.eclipse.ui.views">
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/people.gif"
			id="org.argeo.connect.people.ui.peopleDefaultView"
			name="Search"
			restorable="true">
		</view>
		
		<!-- Users and tasks Management -->
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/people.gif"
			id="org.argeo.connect.people.ui.userGroupsView"
			name="Groups"
			restorable="true">
		</view>
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/people.gif"
			id="org.argeo.connect.people.ui.adminUsersView"
			name="Users"
			restorable="true">
		</view>
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/activities/todo.gif"
			id="org.argeo.connect.people.ui.myTasksView"
			name="My tasks"
			restorable="true">
		</view>
	</extension>
	
	<!-- EDITORS -->
    <extension
		point="org.eclipse.ui.editors">
		
		<!-- Search -->
		<!-- <editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/search.png"
			id="org.argeo.connect.people.ui.defaultSearchEntityEditor"
			name="Search">
		</editor> --> 
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/search.png"
			id="org.argeo.connect.people.ui.listValuesEditor"
			name="Search">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/search.png"
			id="org.argeo.connect.people.ui.searchPersonEditor"
			name="Persons">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/search.png"
			id="org.argeo.connect.people.ui.searchByTagEditor"
			name="Search by Tag">
		</editor>
		
		<!-- Entities -->
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/person.gif"
			id="org.argeo.connect.people.ui.personEditor"
			name="Person editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/company.png"
			id="org.argeo.connect.people.ui.orgEditor"
			name="Organisation editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/group.gif"
			id="org.argeo.connect.people.ui.groupEditor"
			name="Group">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/mailingList.gif"
			id="org.argeo.connect.people.ui.mailingListEditor"
			name="Mailing List">
		</editor>
		
		<!-- Users and groups -->  
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/group.gif"
			id="org.argeo.connect.people.ui.userGroupEditor"
			name="User Group">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/person.gif"
			id="org.argeo.connect.people.ui.userEditor"
			name="User Management">
		</editor>
		
		<!-- Activities -->
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/activities/todo.gif"
			id="org.argeo.connect.people.ui.activityEditor"
			name="Activity editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="icons/activities/todo.gif"
			id="org.argeo.connect.people.ui.taskEditor"
			name="Task editor">
		</editor>
	</extension>
	
	<!-- COMMANDS -->
	<extension
		point="org.eclipse.ui.commands">
		<!-- Open correct editor given the node type --> 
    	<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.people.ui.openEntityEditor"
			name="Open Editor">
			<commandParameter
         		id="param.jcrId"
         		name="The jcr identifier">
         	</commandParameter>
         	<!-- Still used to open editor with the linked list (employees...) -->
			<commandParameter
				id="param.entityUid"
				name="The Model Specific Entity Uid">
			</commandParameter>
		</command>    

		<command
			defaultHandler="org.argeo.connect.people.ui.commands.OpenSearchEntityEditor"
			id="org.argeo.connect.people.ui.openSearchEntityEditor"
			name="Open Search Entity Editor">
			 <commandParameter
         		id="param.nodeType"
         		name="Node Type">
  	 		</commandParameter>
			 <commandParameter
         		id="param.editorName"
         		name="Editor Name">
  	 		</commandParameter>
			 <commandParameter
         		id="param.basePath"
         		name="Parent base path">
  	 		</commandParameter>
		</command>
	

		<!-- Person and organisation management --> 
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.editJob"
            name="Create or edit a job">
            <commandParameter
         		id="param.relevantNodeJcrId"
         		name="Jcr ID of the node to edit">
  	 		</commandParameter>
            <commandParameter
         		id="param.isBackward"
         		name="When editing an existing job, true if editing an org">
  	 		</commandParameter>
    	</command>
		
		
		<!-- Users and Groups Management --> 
		<command
      		defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.createPeopleUser"
            name="New User Group">
    	</command>
		<command
      		defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.createUserGroup"
            name="New User Group">
    	</command>
		<command
      		defaultHandler="org.argeo.connect.people.ui.commands.OpenPeopleUserEditor"
      		id="org.argeo.connect.people.ui.openPeopleUserEditor"
            name="Open user editor">
            <commandParameter
         		id="param.username"
         		name="the username">
  	 		</commandParameter>
    	</command>
    	
    	<!-- Activities and tasks management --> 
    	<command
      		defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.createSimpleTask"
            name="Create simple task">
        </command>
    	
    	<!-- Film Management --> 
    	<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.editParticipation"
            name="Create or edit a participation">
            <commandParameter
         		id="param.relevantNodeJcrId"
         		name="Jcr ID of the node to edit">
  	 		</commandParameter>
            <commandParameter
         		id="param.isBackward"
         		name="When editing an existing job, true if editing an org">
  	 		</commandParameter>
    	</command>
    	
    	<!-- Generic Check in and out introduced by people -->
		<command
      		id="org.argeo.connect.people.ui.checkOutItem"
            name="checkOutItem">
    	</command>
    	<command
      		id="org.argeo.connect.people.ui.cancelAndCheckInItem"
            name="cancelAndcheckInItem">
    	</command>
    	
    	<!-- Entity CRUD --> 
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.deleteEntity"
            name="deleteEntity">
            <commandParameter
         		id="param.toRemoveJcrId"
         		name="Jcr ID of the node to remove">
  	 		</commandParameter>
            <commandParameter
         		id="param.removeParent"
         		name="Indicates whether parent node should also be deleted">
  	 		</commandParameter>
    	</command>
    
		
		<!-- Entity References CRUD --> 
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.removeEntityReference"
            name="removeEntityReference">
            <commandParameter
         		id="param.versionableParentJcrId"
         		name="Jcr ID of the nearest versionable ancestor">
  	 		</commandParameter>
            <commandParameter
         		id="param.toRemoveJcrId"
         		name="Jcr ID of the node to remove">
  	 		</commandParameter>
    	</command>
    	
    	<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.editEntityReference"
            name="editEntityReference">
            <commandParameter
         		id="param.versionableParentJcrId"
         		name="Jcr ID of the nearest versionable ancestor">
  	 		</commandParameter>
            <commandParameter
         		id="param.toEditJcrId"
         		name="Jcr ID of the node to edit">
  	 		</commandParameter>
    	</command>
    	<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.addEntityReference"
            name="Add a link between 2 entities">
            <commandParameter
         		id="param.referencingJcrId"
         		name="Referencing node JCR identifier">
  	 		</commandParameter>
            <commandParameter
         		id="param.referencedJcrId"
         		name="Referenced node JCR identifier">
  	 		</commandParameter>
            <commandParameter
         		id="param.toSearchNodeType"
         		name="The type of node to search for">
  	 		</commandParameter>
            <commandParameter
         		id="param.dialogId"
         		name="ID of the corresponding dialog">
  	 		</commandParameter>
		</command>

		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.editEntityReferenceWithPosition"
            name="Edit Entity References With Position">
            <commandParameter
         		id="param.oldLinkJcrId"
         		name="Old link JCR identifier">
  	 		</commandParameter>
            <commandParameter
         		id="param.isBackward"
         		name="Direction of the link">
  	 		</commandParameter>
            <commandParameter
         		id="param.toSearchNodeType"
         		name="type of node to search for">
  	 		</commandParameter>
    	</command>
    	
    	<!-- TODO remove the 2 following commands --> 
    	<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.addEntityReferences"
            name="Add Entity References">
            <commandParameter
         		id="param.referencingJcrId"
         		name="Referencing node JCR identifier">
  	 		</commandParameter>
            <commandParameter
         		id="param.referencedJcrId"
         		name="Referenced node JCR identifier">
  	 		</commandParameter>
    	</command>
    	<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.addEntityReferenceWithPosition"
            name="Add Entity References With Position">
            <commandParameter
         		id="param.referencingJcrId"
         		name="Referencing node JCR identifier">
  	 		</commandParameter>
            <commandParameter
         		id="param.referencedJcrId"
         		name="Referenced node JCR identifier">
  	 		</commandParameter>
            <commandParameter
         		id="param.toSearchNodeType"
         		name="type of node to search for">
  	 		</commandParameter>
            <commandParameter
         		id="param.dialogId"
         		name="ID of the corresponding dialog">
  	 		</commandParameter>
    	</command>
    	<!-- Until there --> 

    	<!-- Extract generation -->
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		id="org.argeo.connect.people.ui.getCalcExtract"
            name="Generate a calc extract">
            <commandParameter
         		id="param.extractId"
         		name="An extract ID">
  	 		</commandParameter>
    	</command>    	
    	
    	<!-- Tags Management -->  
		<command
			defaultHandler="org.argeo.connect.people.ui.commands.OpenSearchByTagEditor"
			id="org.argeo.connect.people.ui.openSearchByTagEditor"
			name="Open Editor">
			<commandParameter
         		id="param.tagValue"
         		name="The tag value">
         	</commandParameter>
		</command>    
  		
  		<command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.connect.people.ui.forceTagCacheRefresh"
			name="Force an update of the Tags cache in the repository">
  		</command>

  		<!-- <command
			defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.connect.people.ui.addTagInCache"
			name="Creates a new tag in the repository cache">
			<commandParameter
					id="param.tagValue"
					name="The value of the tag to create. Cannot be null">
 			</commandParameter>
  		</command>
  		-->
    	
    	<!-- Utility command to simply open an URL --> 
    	<command
			defaultHandler="org.argeo.connect.people.ui.commands.OpenUrl"
			id="org.argeo.connect.people.ui.openUrl"
			name="Open an URL in the end user browser">
			<commandParameter
     			id="param.urlValue"
     			name="The url">
 			</commandParameter>
			<commandParameter
     			id="param.urlType"
     			name="The type of the url">
 			</commandParameter>
  		</command>
  		
  		<!-- Miscelleanous -->
  		<command
			defaultHandler="org.argeo.connect.people.ui.commands.ForceRefresh"
			id="org.argeo.connect.people.ui.forceRefresh"
			name="Force refresh of the current active part if such an action is possible">
			<commandParameter
					id="param.viewId"
					name="optionnaly, the id of the view to refresh">
 			</commandParameter>
  		</command>

  		<!-- Utility to provide sub menues when we don't want to define a default command for this menu -->
		<command
			defaultHandler="org.argeo.connect.people.ui.commands.DoNothing"
			id="org.argeo.connect.people.ui.doNothing"
			name="Open menu">
		</command>    
	</extension>		
	
	<!-- Menus -->
	<extension
		point="org.eclipse.ui.menus">
		<!-- Popup Menu for NetworkBrowserView-->
		<!-- View Specific Menus --> 
		<!-- Generic commands provided by the people app --> 
		<menuContribution
			locationURI="toolbar:org.argeo.ui.userToolbar?after=org.eclipse.ui.file.saveAll"> 
			<!-- Check in and out management --> 
 			<command
				commandId="org.argeo.connect.people.ui.checkOutItem"
				icon="icons/checkout.gif"
				label="Check Out"
				style="push"
				tooltip="Check Out item for edit">
				<visibleWhen>
					<and>
						<with variable="activePart">
							<instanceof value="org.argeo.connect.people.ui.editors.utils.IVersionedItemEditor" />
						</with>
						<with variable="roles">
			      			<iterate ifEmpty="false" operator="or">
			        			<equals value="ROLE_BUSINESS_ADMIN" />
			        			<equals value="ROLE_REGISTERED_MEMBER" />
			      			</iterate>
			    		</with>
			    	</and>
				</visibleWhen>
			</command>
			<command
				commandId="org.argeo.connect.people.ui.cancelAndCheckInItem"
				icon="icons/cancelEdit.gif"
				label="Cancel edit"
				style="push"
				tooltip="Abandon changes and check back in">
				<visibleWhen>
					<and>
						<with variable="activePart">
							<instanceof value="org.argeo.connect.people.ui.editors.utils.IVersionedItemEditor" />
						</with>
						<with variable="roles">
			      			<iterate ifEmpty="false" operator="or">
			        			<equals value="ROLE_BUSINESS_ADMIN" />
			        			<equals value="ROLE_REGISTERED_MEMBER" />
			      			</iterate>
			    		</with>
			    	</and>
				</visibleWhen>
			</command>
 				
			<!-- Force resfresh if possible --> 
			<command
				commandId="org.argeo.connect.people.ui.forceRefresh"
				icon="icons/refresh.png"
				label="Force refresh of the current active part"
				style="push"
				tooltip="Force refresh of the current active part">
				<visibleWhen>
					<with variable="activePart">
						<instanceof value="org.argeo.connect.people.ui.utils.Refreshable" />
					</with>
				</visibleWhen>
			</command>
 			
 			<!-- Launch Calc extract generation --> 
			<command
				commandId="org.argeo.connect.people.ui.getCalcExtract"
				icon="icons/spreadsheet.gif"
				label="Generate extract"
				style="push"
				tooltip="Generate an tabular extract for the current entity editor">
				<visibleWhen>
					<with variable="activePart">
						<instanceof value="org.argeo.connect.people.ui.exports.calc.ITableProvider" />
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
		
		<!-- PeopleUserAdminView toolbar menu --> 
		<menuContribution
            locationURI="toolbar:org.argeo.connect.people.ui.adminUsersView">
			<command
                  commandId="org.argeo.security.ui.admin.refreshUsersList"
                  icon="icons/refresh.png"
                  label="Refresh list"
                  tooltip="Force the full refresh of the user list">
            </command>
            <command
                  commandId="org.argeo.security.ui.admin.deleteUser"
                  icon="icons/remove.gif"
                  label="Delete User"
                  tooltip="Delete selected users">
            </command>
            <command
                  commandId="org.argeo.connect.people.ui.createPeopleUser"
                  icon="icons/newGroup.gif"
                  label="Add User"
                  tooltip="Add new user">
            </command>
            <command
                  commandId="org.argeo.security.ui.admin.userBatchUpdate"
                  icon="icons/batch.gif"
                  label="Update users"
                  tooltip="Perform maintenance activities on a list of chosen users">
            </command>
        </menuContribution>
		
		<!-- UserGroupView tool bar menu --> 
		<menuContribution
            locationURI="toolbar:org.argeo.connect.people.ui.userGroupsView">
            <command
                  commandId="org.argeo.connect.people.ui.createUserGroup"
                  icon="icons/newGroup.gif"
                  label="Add Group"
                  tooltip="Add a new user group">
            </command>
             <command
				commandId="org.argeo.connect.people.ui.forceRefresh"
                icon="icons/refresh.png"
				label="Refresh"
				tooltip="User group list refresh">
				<parameter
					name="param.viewId"
					value="org.argeo.connect.people.ui.userGroupsView" />
            </command>
        </menuContribution>

		<!-- MyTasksView tool bar menu --> 
		<menuContribution
            locationURI="toolbar:org.argeo.connect.people.ui.myTasksView">
            <command
				commandId="org.argeo.connect.people.ui.createSimpleTask"
				icon="icons/newGroup.gif"
				label="Task">
			</command>	
            <command
				commandId="org.argeo.connect.people.ui.forceRefresh"
                icon="icons/refresh.png"
				label="Refresh"
				tooltip="Force task list refresh">
				<parameter
					name="param.viewId"
					value="org.argeo.connect.people.ui.myTasksView" />
            </command>
        </menuContribution>
	</extension>
	
	<!-- SPECIFIC MANAGEMENT OF THE CHECK OUT ITEM -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.argeo.connect.people.ui.commands.CheckOutItem"
			commandId="org.argeo.connect.people.ui.checkOutItem">
			<activeWhen>
				<and> 
					<with
						variable="org.argeo.connect.people.ui.checkOutState">
						<equals value="notCheckedOut" />
					</with>
    				<with variable="activePart">
						<instanceof value="org.argeo.connect.people.ui.editors.utils.IVersionedItemEditor" />
					</with>
				</and>
			</activeWhen>
		</handler>
		<handler
			class="org.argeo.connect.people.ui.commands.CancelAndCheckInItem"
			commandId="org.argeo.connect.people.ui.cancelAndCheckInItem">
			<activeWhen>
				<and> 
					<with
						variable="org.argeo.connect.people.ui.checkOutState">
						<equals value="checkedOut" />
					</with>
					<with variable="activePart">
						<instanceof value="org.argeo.connect.people.ui.editors.utils.IVersionedItemEditor" />
					</with>
				</and>
			</activeWhen>
		</handler>
	</extension>

	<!-- Workbench listeners --> 
	<extension point="org.eclipse.ui.startup">
   		<startup class="org.argeo.connect.people.ui.listeners.PartStateChanged"/>
	</extension>

	<!-- Services -->
	<extension
      	point="org.eclipse.ui.services">
	   	<sourceProvider
	        provider="org.argeo.connect.people.ui.utils.CheckoutSourceProvider">
	     	<variable
	            name="org.argeo.connect.people.ui.checkOutState"
	            priorityLevel="workbench">
	      	</variable>
	   	</sourceProvider>
	</extension>

	<extension
		point="org.eclipse.ui.activities">
		<!-- Business admin activities --> 
		<activity
              description="Business admin activities"
              id="org.argeo.connect.people.ui.businessAdminActivity"
              name="People Business Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="ROLE_BUSINESS_ADMIN" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <activityPatternBinding
              activityId="org.argeo.connect.people.ui.businessAdminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.connect.people.ui/org.argeo.connect.people.ui.businessAdminPerspective">
        </activityPatternBinding>
        
		<!-- Technical admin activities --> 
		<activity
              description="Only for admins"
              id="org.argeo.connect.people.ui.adminActivity"
              name="People Admin">
		  <enabledWhen>
		    <with variable="roles">
		      <iterate ifEmpty="false" operator="or">
		        <equals value="ROLE_ADMIN" />
		      </iterate>
		    </with>
		  </enabledWhen>
        </activity>
        <!-- FIXME: we hide for the time being the people stand alone perspective 
        to all people that are not in role technical admin --> 
        <activityPatternBinding
              activityId="org.argeo.connect.people.ui.adminActivity"
              isEqualityPattern="true"
              pattern="org.argeo.connect.people.ui/org.argeo.connect.people.ui.peoplePerspective">
        </activityPatternBinding>
     </extension>
</plugin>
