<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
    	point="org.eclipse.ui.perspectives">
		<perspective
        	class="org.argeo.connect.ui.gps.GpsPerspective"
            icon="icons/gis.gif"
            id="org.argeo.connect.ui.gps.gpsPerspective"
            name="Connect GPS">
		</perspective>
	</extension>
	<!-- Views and editors -->
	<extension
    	point="org.eclipse.ui.views">
		<view
			name="Workspace explorer"
			icon="icons/gis.gif"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.connect.ui.gps.gpsBrowserView">
		</view>
	</extension>
	
	<!-- EDITORS --> 
	<!-- CAUTION : icon attribute is compulsory for an editor.--> 
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.connect.ui.gps.cleanDataEditor"
			name="Clean Data Editor"
			icon="icons/session.gif"
			default="false">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.connect.ui.gps.localRepoEditor"
			name="Local repository Editor"
			icon="icons/repo.gif"
			default="false">
		</editor>
	</extension>
   
	<!-- Commands -->
	<extension
		point="org.eclipse.ui.commands">
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.ui.gps.importGpx"
			name="ImportGPX ">
		</command>
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.ui.gps.openNewRepoWizard"
			name="ImportGPX ">
		</command>
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.ui.gps.openCleanDataEditor"
			name="OpenCleanDataEditor">
			<commandParameter
				id="org.argeo.connect.ui.gps.connectSessionUuid"
				name="Connect Session UUID">
  	 		</commandParameter>
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.ui.gps.openLocalRepoEditor"
			name="OpenLocalRepoEditor">
			<commandParameter
				id="org.argeo.connect.ui.gps.localRepoName"
				name="Local repository technical name">
  	 		</commandParameter>
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.ui.gps.importDirectoryContent"
			name="ImportDirectoryContent">
		</command>    
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.ui.gps.addFileFolder"
			name="ImportDirectoryContent">
		</command>   
		<command
			defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
			id="org.argeo.connect.ui.gps.newCleanDataSession"
			name="newCleanDataSession">
		</command>   
	</extension>
    
	<!-- Menus -->
	<extension
		point="org.eclipse.ui.menus">
		<!-- Popup Menu for GpsBrowserView-->
		<menuContribution
			locationURI="popup:org.argeo.connect.ui.gps.gpsBrowserView">
			<command
				commandId="org.argeo.jcr.ui.explorer.refresh"
				icon="icons/refresh.png"
				style="push">
			</command>
			<command
				commandId="org.argeo.jcr.ui.explorer.deleteNode"
				icon="icons/remove.gif"
				style="push">
			</command>
		</menuContribution>
  	</extension>
</plugin>