<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.argeo.security.ui.rcp.secureUi"
            name="Connect for GPS">
         <property
               name="windowImages"
               value="icons/argeo-icon-256.png">
         </property>
         <property
               name="appName"
               value="Connect for GPS">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.connect.ui.gps.GpsPerspective"
            icon="icons/gis.gif"
            id="org.argeo.connect.ui.gps.gpsPerspective"
            name="Connect GPS">
      </perspective>
   </extension>
   <!-- Views and editors -->
   <extension
         point="org.eclipse.ui.views">
      <view
            name="GPS"
            icon="icons/gis.gif"
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.connect.ui.gps.gpsBrowserView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
   </extension>
   
   	<!-- Commands -->
  	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="org.argeo.eclipse.spring.SpringCommandHandler"
            id="org.argeo.connect.ui.gps.importGpx"
            name="ImportGPX ">
    	</command>
    </extension>
    
    <!-- Menus -->
	<extension
         point="org.eclipse.ui.menus">
		
		<menuContribution
                allPopups="false"
                locationURI="menu:org.eclipse.ui.main.menu?after=file">
        	<menu label="Import GPS"
              mnemonic="Import"
              id="org.argeo.connect.ui.gps.importMenu">
              	<command
           		commandId="org.argeo.jcr.ui.explorer.refresh"
           		icon="icons/refresh.png"
           		style="push">
     		</command>
     		<command
           		commandId="org.argeo.jcr.ui.explorer.addFileFolder"
           		icon="icons/add.gif"
           		style="push">
     		</command>
     		<command
           		commandId="org.argeo.jcr.ui.explorer.deleteNode"
           		icon="icons/remove.gif"
           		style="push">
     		</command>
     		<command
           		commandId="org.argeo.jcr.ui.explorer.importFileSystem"
           		icon="icons/import_fs.png"
           		style="push"
           		tooltip="Import files from the files sytem to the repository">
     		</command>
            <command
                  commandId="org.argeo.connect.ui.gps.importGpx"
                  disabledIcon="icons/uploadFiles.gif"
                  icon="icons/uploadFiles.gif"
                  label="Import GPX"
                  style="push"
                  tooltip="Import GPX">
            </command>
    		</menu>
          </menuContribution>
		
		<menuContribution
        	locationURI="popup:org.argeo.connect.ui.gps.gpsBrowserView">
     		<command
           		commandId="org.argeo.jcr.ui.explorer.refresh"
           		icon="icons/refresh.png"
           		style="push">
     		</command>
     		<command
           		commandId="org.argeo.jcr.ui.explorer.addFileFolder"
           		icon="icons/add.gif"
           		style="push">
     		</command>
     		<command
           		commandId="org.argeo.jcr.ui.explorer.deleteNode"
           		icon="icons/remove.gif"
           		style="push">
     		</command>
     		<command
           		commandId="org.argeo.jcr.ui.explorer.importFileSystem"
           		icon="icons/import_fs.png"
           		style="push"
           		tooltip="Import files from the files sytem to the repository">
     		</command>
            <command
                  commandId="org.argeo.connect.ui.gps.importGpx"
                  disabledIcon="icons/uploadFiles.gif"
                  icon="icons/uploadFiles.gif"
                  label="Import GPX"
                  style="push"
                  tooltip="Import GPX">
            </command>
  		</menuContribution>
	</extension>
</plugin>
