<?xml version="1.0" encoding="UTF-8"?>
<!--

    Argeo Connect - Data management and communications
    Copyright (C) 2012 Argeo GmbH

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>

    Additional permission under GNU GPL version 3 section 7

    If you modify this Program, or any covered work, by linking or combining it
    with software covered by the terms of the Eclipse Public License, the
    licensors of this Program grant you additional permission to convey the
    resulting work. Corresponding Source for a non-source form of such a
    combination shall include the source code for the parts of such software
    which are used as well as that of the covered work.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="classpath:/com/ignfi/gr/spring-catalogs.xml" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<value>classpath:/org/argeo/connect/demo/gr/jackrabbit-test.properties</value>
		</property>
	</bean>

	<!-- WARNING: in order to be able to define different version of the same 
		repository in only one application context file, jcr related beans must be 
		lazy loaded. -->

	<!-- bean used to test model for version 0.0.1 -->
	<bean id="grBackend" class="org.argeo.connect.demo.gr.GrBackendImpl"
		init-method="init" destroy-method="shutdown" lazy-init="true">
		<property name="session" ref="jcrSession" />
	</bean>
	<bean id="jcrRepository" class="org.argeo.jackrabbit.JackrabbitContainer"
		lazy-init="true" init-method="init" destroy-method="dispose">
		<property name="homeDirectory" value="target/jackrabbit-${user.name}" />
		<property name="configuration" value="${gr.jackrabbit.repo.test.configuration}" />
		<property name="inMemory" value="${gr.jackrabbit.repo.test.inMemory}" />
		<property name="namespaces" ref="namespaces" />
		<property name="cndFiles">
			<list>
				<value>/org/argeo/connect/demo/gr/gr.cnd</value>
			</list>
		</property>
	</bean>
	<bean id="jcrSession" class="org.argeo.jcr.spring.ThreadBoundSession"
		lazy-init="true">
		<property name="repository" ref="jcrRepository" />
		<property name="forceDefaultCredentials" value="true" />
	</bean>
</beans>