<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	
	<!-- VIEWS --> 
	<extension
		point="org.eclipse.ui.views">
	</extension>
	
	<!-- EDITORS --> 
	<extension point="org.eclipse.ui.editors">
		<editor
			id="org.argeo.tracker.projectEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
       		icon="platform:/plugin/org.argeo.connect.ui/icons/types/project.png"
			name="IT Project Editor"
			default="false">
		</editor>
		<editor
			id="org.argeo.tracker.milestoneEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
      		icon="platform:/plugin/org.argeo.connect.ui/icons/types/milestone.png"
			name="Milestone Editor"
			default="false">
		</editor>
		<editor
			id="org.argeo.tracker.itProjectEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
      		icon="platform:/plugin/org.argeo.connect.ui/icons/types/project.png"
			name="IT Project Editor"
			default="false">
		</editor>
		<editor
        	id="org.argeo.tracker.categoryEditor"
        	class="org.argeo.eclipse.spring.SpringExtensionFactory"
      		icon="platform:/plugin/org.argeo.connect.ui/icons/types/category.gif"
        	default="false"
        	name="Category Editor">
  		</editor>
		<editor
			id="org.argeo.tracker.taskEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
      		icon="platform:/plugin/org.argeo.connect.ui/icons/types/task.png"
			name="Task Editor"
			default="false">
		</editor>
		<editor
			id="org.argeo.tracker.issueEditor"
      		icon="platform:/plugin/org.argeo.connect.ui/icons/types/bug.gif"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			name="Issue Editor"
			default="false">
		</editor>
		<!-- search editors -->
		<editor
			id="org.argeo.tracker.allProjectsEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			name="Search among projects"
			default="false">
		</editor>
	</extension>
	
	<!-- COMMANDS --> 
	<extension point="org.eclipse.ui.commands">
 	</extension>
	
	<!-- MENU CONTRIBUTION --> 
	<extension
		id="menu:org.eclipse.ui.main.menu"
		point="org.eclipse.ui.menus">
		
	</extension>
</plugin>
