<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	<!-- VIEWS --> 
	<extension
		point="org.eclipse.ui.views">
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/types/todo.gif"
			id="org.argeo.connect.activities.myTodoListView"
			name="To Do"
			restorable="true">
		</view>
	</extension>
	
	<!-- EDITORS --> 
	<extension point="org.eclipse.ui.editors">
		<!-- Types editors -->
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/types/todo.gif"
			id="org.argeo.connect.activities.activityEditor"
			name="Activity editor">
		</editor>
		<editor
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/types/todo.gif"
			id="org.argeo.connect.activities.taskEditor"
			name="Task editor">
		</editor>
	
	</extension>
	
	<!-- COMMANDS --> 
	<extension point="org.eclipse.ui.commands">
		<command
      		id="org.argeo.connect.activities.createSimpleTask"
            defaultHandler="org.argeo.eclipse.spring.SpringExtensionFactory"
      		name="Create simple task">
        </command>
 	</extension>
	
	<!-- MENU CONTRIBUTION --> 
	<extension
		id="menu:org.eclipse.ui.main.menu"
		point="org.eclipse.ui.menus">
		
		<!-- Corresponding submenus --> 
		<menuContribution locationURI="menu:org.argeo.connect.ui.addEntityToolbar">
			<command
				commandId="org.argeo.connect.activities.createSimpleTask"
				icon="theme/icons/types/todo.gif"
				label="Task">
			</command>	
		</menuContribution>
		
		<menuContribution locationURI="menu:org.argeo.connect.ui.openSearchToolbar">
			<command
				commandId="org.argeo.connect.ui.openSearchEntityEditor"
				icon="theme/icons/types/todo.gif"
				label="Tasks">
				<parameter name="param.nodeType" value="people:task" />
				<parameter name="param.editorName" value="Tasks" />
			</command>	
		</menuContribution>		
		
		<!-- MyTodoListView tool bar menu --> 
		<menuContribution
            locationURI="toolbar:org.argeo.connect.activities.myTodoListView">
            <command
				commandId="org.argeo.connect.activities.createSimpleTask"
				icon="theme/icons/actions/add.gif"
				label="Task">
			</command>	
            <command
				commandId="org.argeo.connect.ui.forceRefresh"
                icon="theme/icons/actions/refresh.png"
				label="Refresh"
				tooltip="Force task list refresh">
				<parameter
					name="param.viewId"
					value="org.argeo.connect.activities.myTodoListView" />
            </command>
        </menuContribution>
	</extension>
</plugin>
