<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	
	<!-- VIEWS --> 
	<extension
		point="org.eclipse.ui.views">
		<view
			id="org.argeo.documents.myFilesView"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
     		icon="platform:/plugin/org.argeo.connect.ui/icons/types/documents.png"
			name="Files"
			restorable="false">
		</view>
	</extension>
	
	<!-- EDITORS --> 
	<extension point="org.eclipse.ui.editors">
		<editor
			id="org.argeo.documents.folderEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
     		icon="platform:/plugin/org.argeo.connect.ui/icons/types/folder.gif"
			name="Folder Editor"
			default="false">
		</editor>
		<editor
			id="org.argeo.documents.fileEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
     		icon="platform:/plugin/org.argeo.connect.ui/icons/types/file.gif"
			name="File Editor"
			default="false">
		</editor>
		<!-- search editors -->
	</extension>
	
	<!-- COMMANDS --> 
	<extension point="org.eclipse.ui.commands">
 	</extension>
	
	<!-- MENU CONTRIBUTION --> 
	<extension
		id="menu:org.eclipse.ui.main.menu"
		point="org.eclipse.ui.menus">
	</extension>
</plugin>
