<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	<!-- VIEWS --> 
	<extension
		point="org.eclipse.ui.views">
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			icon="theme/icons/types/todo.gif"
			id="org.argeo.activities.myTodoListView"
			name="To Do"
			restorable="true">
		</view>
	</extension>
	
	<!-- EDITORS --> 
	<extension point="org.eclipse.ui.editors">
		<!-- Types editors -->
		<editor
			id="org.argeo.activities.activityEditor"
			name="Activity editor"
			icon="theme/icons/types/todo.gif"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<editor
			icon="theme/icons/types/todo.gif"
			name="Task editor"
			id="org.argeo.activities.taskEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<!-- Search editor -->
		<editor
			id="org.argeo.activities.searchActivityEditor"
			icon="theme/icons/actions/search.png"
			name="Search task editor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
	</extension>
	
	<!-- COMMANDS --> 
	<extension point="org.eclipse.ui.commands">
 	</extension>
	
	<!-- MENU CONTRIBUTION --> 
	<extension
		id="menu:org.eclipse.ui.main.menu"
		point="org.eclipse.ui.menus">
		
		<!-- Corresponding submenus --> 
		<menuContribution locationURI="menu:org.argeo.connect.ui.addEntityToolbar">
			<command
				commandId="org.argeo.connect.ui.createEntity"
				icon="theme/icons/types/todo.gif"
				label="Task">
				<parameter
         		name="param.targetNodeType"
         		value="activities:task" />
			</command>	
		</menuContribution>
		
		<menuContribution locationURI="menu:org.argeo.connect.ui.openSearchToolbar">
			<command
				commandId="org.argeo.connect.ui.openSearchEntityEditor"
				icon="theme/icons/types/todo.gif"
				label="Tasks">
				<parameter name="param.nodeType" value="activities:task" />
				<parameter name="param.editorName" value="Tasks" />
			</command>	
		</menuContribution>		
		
		<!-- MyTodoListView tool bar menu --> 
		<!--<menuContribution
            locationURI="toolbar:org.argeo.activities.myTodoListView">
            <command
				commandId="org.argeo.activities.createSimpleTask"
				icon="theme/icons/actions/add.gif"
				label="Task">
			</command>	
            <command
				commandId="org.argeo.connect.ui.forceRefresh"
                icon="theme/icons/actions/refresh.png"
				label="Refresh"
				tooltip="Force task list refresh">
				<parameter
					name="param.viewId"
					value="org.argeo.activities.myTodoListView" />
            </command>
        </menuContribution>-->
	</extension>
</plugin>
