<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
	<!-- VIEWS --> 
	<extension
		point="org.eclipse.ui.views">
		<view
			class="org.argeo.eclipse.spring.SpringExtensionFactory"
			id="org.argeo.activities.myTodoListView"
			name="To Do"
			restorable="false">
		</view>
	</extension>
	
	<!-- EDITORS --> 
	<extension point="org.eclipse.ui.editors">
		<!-- Types editors -->
		<editor
			id="org.argeo.activities.activityEditor"
			name="Activity editor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<editor
			name="Task editor"
			id="org.argeo.activities.taskEditor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
		<!-- Search editor -->
		<editor
			id="org.argeo.activities.searchActivityEditor"
			name="Search task editor"
			class="org.argeo.eclipse.spring.SpringExtensionFactory">
		</editor>
	</extension>
	
	<!-- COMMANDS --> 
	<extension point="org.eclipse.ui.commands">
 	</extension>
	
	<!-- MENU CONTRIBUTION --> 
	<extension
		id="menu:org.eclipse.ui.main.menu"
		point="org.eclipse.ui.menus">
		
	</extension>
</plugin>
