<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.argeo.connect.crisis.manager.CrisisTrackingPerspective"
            id="org.argeo.connect.crisis.manager.crisisTrackingPerspective"
            name="Crisis Tracking">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            id="org.argeo.connect.crisis.manager.feedView"
            name="Feed"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.argeo.eclipse.spring.SpringExtensionFactory"
            default="false"
            id="org.argeo.connect.crisis.manager.linkEditor"
            name="Link">
      </editor>
   </extension>

</plugin>
